
{% extends 'base.html' %}
{% block content %}
<div class="centered">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
  <div><h1 class="text-center">Profile</h1></div>
    <div class="card-body">
        <p><strong>Інформація про тебе</strong></p>

    <ul>
        <li><strong>Твій нік: </strong>{{ username }}</li>
        <li><strong>Повне ім'я: </strong>{{ full_name }}</li>
        <li><strong>Твій id телеграм: </strong>{{ id }}</li>
    </ul>

      <p class="mb-0 mt-3 text-center">
        <button style="margin-right: 30px" type="submit" class="btn btn-primary">
        <a style="color: aliceblue; text-decoration: none" href={{url_user_tg_account}}>Твій телеграм</a>
    </button>
      </p>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
{% endblock%}
